@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #0d1519;
}

@layer utilities {
  .a-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-center {
    display: flex;
    justify-content: center;
  }

  .v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .m-container {
    @apply px-5 md:px-16 lg:px-32 xl:px-40;
  }

  .bg-site {
    background-color: #0d1519;
  }

  .bg-site-light {
    background-color: #131e24;
  }

  .bg-site-lighter {
    background-color: #17242b;
  }

  .text-app {
    color: #ff9900;
  }

  .bg-app {
    background-color: #ff9900;
  }

  .border-app {
    border-color: #ff9900;
  }
}

.h-app-screen {
  min-height: calc(100vh - 150px);
}
@media (min-width: 640px) {
  .h-app-screen {
    min-height: calc(100vh - 135px);
  }
}

.pixel {
  font-feature-settings: 'ss15';
}

.logo-text {
  letter-spacing: 1px;
  text-transform: uppercase;
  background: linear-gradient(to right, #ff9900 0%, #ffe078 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-text-bright {
  background: linear-gradient(to right, #ff9900 0%, #ffe078 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-grad {
  box-shadow: 0px 0px 4px 2px #b578ff;
  border-radius: 0.075rem;
}

.box-grad:hover {
  box-shadow: 0px 0px 6px 3px #8597ff;
  border-radius: 0.125rem;
}
