@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8597ff;
  --primary-light: #b578ff;
  --primary-shift: #ce78ff;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #0d1519;
}

code {
  white-space: pre-wrap;
}

@layer utilities {
  .a-center {
    @apply flex justify-center items-center;
  }

  .h-center {
    @apply flex justify-center;
  }

  .v-center {
    @apply flex flex-col justify-center;
  }

  .m-container {
    @apply px-5 md:px-16 lg:px-32 xl:px-40;
  }

  .bg-site {
    @apply bg-[#0d1519];
  }
  .bg-site-light {
    @apply bg-[#131e24];
  }
  .bg-site-lighter {
    @apply bg-[#17242b];
  }
  .bg-site-content {
    @apply bg-slate-100;
  }
  .bg-site-modal {
    @apply bg-[#0d15197f];
  }

  .text-site {
    @apply text-[#0d1519];
  }

  .text-site-content {
    @apply text-slate-100;
  }

  .placeholder-app {
    @apply placeholder-gray-500;
  }

  .text-app {
    @apply text-[--primary];
  }
  .text-app-light {
    @apply text-[--primary-light];
  }

  .text-button {
    @apply text-gray-800;
  }
  .bg-button {
    @apply bg-gray-800;
  }
  .bg-button-reverse {
    @apply bg-gray-200;
  }
  .border-button {
    @apply border-gray-800;
  }

  .text-label {
    @apply text-gray-300;
  }
  .text-label-dark {
    @apply text-gray-400;
  }

  .bg-app {
    @apply bg-[--primary];
  }
  .bg-app-light {
    @apply bg-[--primary-light];
  }
  .bg-app-grad {
    /* background: linear-gradient(to right, #ff9900aa 0%, #ffe078cc 100%); */
    background: linear-gradient(to right, #8597ffaa 0%, #ce78ffcc 100%);
  }

  .border-app {
    @apply border-[--primary];
  }
  .border-app-light {
    /* @apply border-orange-300; */
    @apply border-[--primary-light];
  }

  .ring-app {
    @apply ring-[--primary];
  }
  .ring-app-light {
    /* @apply ring-orange-300; */
    @apply border-[--primary-light];
  }

  .ring-site {
    @apply ring-[#0d1519];
  }
  .ring-site-content {
    @apply ring-slate-100;
  }

  .border-over-site {
    @apply border-gray-700;
  }
  .ring-over-site {
    @apply ring-gray-700;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-20%);
    }
  }
  @keyframes scroll-right {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes scroll-oscillate {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .scroll-content-left-1 {
    animation: scroll-left 14s linear infinite;
  }
  .scroll-content-left-2 {
    animation: scroll-left 12s linear infinite;
  }
  .scroll-content-left-3 {
    animation: scroll-left 10s linear infinite;
  }
  .scroll-content-left-4 {
    animation: scroll-left 8s linear infinite;
  }

  .scroll-content-right-1 {
    animation: scroll-right 14s linear infinite;
  }
  .scroll-content-right-2 {
    animation: scroll-right 12s linear infinite;
  }
  .scroll-content-right-3 {
    animation: scroll-right 10s linear infinite;
  }
  .scroll-content-right-4 {
    animation: scroll-right 8s linear infinite;
  }

  .scroll-content-oscillate-1 {
    animation: scroll-oscillate 14s linear infinite;
  }
  .scroll-content-oscillate-2 {
    animation: scroll-oscillate 12s linear infinite;
  }
  .scroll-content-oscillate-3 {
    animation: scroll-oscillate 10s linear infinite;
  }
  .scroll-content-oscillate-4 {
    animation: scroll-oscillate 8s linear infinite;
  }
}

.h-app-screen {
  min-height: calc(100vh - 150px);
}
@media (min-width: 640px) {
  .h-app-screen {
    min-height: calc(100vh - 135px);
  }
}

.pixel {
  font-feature-settings: 'ss15';
}

.logo-text {
  letter-spacing: 1px;
  text-transform: uppercase;
  /* background: linear-gradient(to right, #ff9900 0%, #ffe078 100%); */
  background: linear-gradient(
    to right,
    var(--primary) 0%,
    var(--primary-shift) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-text-bright {
  /* background: linear-gradient(to right, #ff9900 0%, #ffe078 100%); */
  background: linear-gradient(
    to right,
    var(--primary) 0%,
    var(--primary-shift) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-grad {
  box-shadow: 0px 0px 4px 2px var(--primary);
  border-radius: 0.075rem;
}

.box-grad:hover {
  box-shadow: 0px 0px 6px 3px var(--primary-light);
  border-radius: 0.125rem;
}
