@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .a-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-center {
    display: flex;
    justify-content: center;
  }

  .v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bg-site {
    background-color: #314552;
    background-color: #0d1519;
  }

  .text-app {
    color: #ff9900;
  }

  .bg-app {
    background-color: #ff9900;
  }
}

.h-app-screen {
  min-height: calc(100vh - 150px);
}
@media (min-width: 640px) {
  .h-app-screen {
    min-height: calc(100vh - 135px);
  }
}

.pixel {
  font-feature-settings: 'ss15';
}
